---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <h1>Isaac Ojeda Quintana</h1>
      <p>
        Egresado del Instituto Tecnólogico de Chihuahua II | Arquitecto de
        Soluciones en Intelectix
      </p>
      <section>
        <p>
          Soy un apasionado desarrollador con más de 11 años de experiencia en
          aplicaciones web con .NET. También tengo 5 años de experiencia
          utilizando Angular y Typescript. Me encanta compartir mis
          conocimientos a través de mi blog de programación, el cual inicié en
          2010.
        </p>
        <p>
          Egresado del Instituto Tecnólogico de Chihuahua II en 2012. Trabajo
          como Arquitecto de Soluciones en Intelectix, donde diseñamos
          soluciones basadas en Azure y el stack .NET con Angular desde 2013.
        </p>
        <p>
          Visita mi <a href="/blog">blog de programación</a> para encontrar contenido
          interesante sobre desarrollo de software y tecnología.
        </p>
      </section>
    </main>
    <Footer />
  </body>
</html>
